<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.openvirtualsoundcard.probe</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/libexec/ovprobe-daemon</string>
	</array>
	<key>MachServices</key>
	<dict>
		<key>org.openvirtualsoundcard.probe</key>
		<true/>
		<key>org.openvirtualsoundcard.probe.unlisted</key>
		<true/>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/var/log/ovprobe-daemon.log</string>
	<key>StandardErrorPath</key>
	<string>/var/log/ovprobe-daemon.log</string>
</dict>
</plist>
